@model IEnumerable<DienstenCheques.Models.ViewModels.BestellingenViewModels.BestellingViewModel>

<p>
    <a asp-action="Nieuw" class="btn btn-primary">Plaats een nieuwe bestelling</a>
</p>
<table class="table">
    <tr>
        <th>
           Referentie
        </th>
        <th>
            Datum bestelling
        </th>
        <th>
            Elektronisch
        </th>
        <th class="text-right">
            Hoeveelheid
        </th>
        <th class="text-right">
           Zichtwaarde
        </th>
        <th class="text-right">
            Totaal bedrag
        </th>
    </tr>

<!--vervolledig tabel-->

</table>
